<!DOCTYPE html>
{% extends 'app/base_mainPage.html' %}
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% block head %}
    <link rel="stylesheet" href="/static/css/autocomplete.css">
    <style>
        .errorlist li {
            list-style: none;
        }
    </style>
    {% endblock %}

</head>

<body>
    {% block body_block %}
    <div class="container">

        <!-- product details -->
        <form class="form-horizontal" role="form" method="post" action="." enctype="multipart/form-data">
            {% csrf_token %}

            <h2 style="color: #D29062;">Add New Product</h2><br>
            <div class="row ">
                <div class="col-md-6 text-center">
                    <div class="form-group row">
                        <label class="col-sm-2 text-left pt-1">Name:</label>
                        <input type="text" name="whisky_name" id="id_name" class="col-md-8 form-control" required>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 text-left pt-1">Price(£):</label>
                        <input type="text" name="whisky_price" id="id_price" class="col-md-8 form-control" required>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 text-left pt-1">Quantity:</label>
                        <input type="number" name="whisky_quantity" id="id_quantity" class="col-md-8 form-control"
                            min="0" required>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 text-left pt-1" for="id_location">Location:</label>
                        <input type="text" name="whisky_location" id="id_location"
                            class="col-md-8 form-control autocomplete" data-url="{% url 'app:search_location' %}"
                            required>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-3 text-left pt-1">Description:</label>
                        <input type="text" name="whisky_description" class="col-md-8 form-control" required>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 text-left">Upload Photo:</label>
                        <input class="col-sm-8" type="file" name="whisky_img" id="file" onchange="getPhoto(this)"
                            style="height: 30px;" /><br>
                        <img src="" alt="Upload Photo" class="col-sm-3 text-center mt-2 border " onclick=""
                            style="height: 110px; margin-left: 150px;border-color: #d29062;">
                    </div>
                    <input type="hidden" name="whisky_status" value="1">
                    <input type="hidden" name="merchant" value="{{user.id}}">


                    <!-- buttons -->
                    <div class="form-group row">
                        <button class="btn col-sm-2 " type="submit" value="Submit"
                            style="background-color: #D29062;color:white;margin-left: 300px;">Save</button>
                        <button class="btn col-sm-2" type="button" onclick="location='{% url 'app:product' %}'"
                            style="border-color: #D29062;color: #d29062;background-color:white;margin-left: 30px;">Cancel</button>
                    </div>
                    <div style="color:red;">{{product.errors}}</div>


                </div>
            </div>
        </form>

    </div>

    </div>

    </div>

    {% endblock %}
</body>
{% block footer %}
<!-- JavaScript -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/js/bootstrap.js"></script>
<script src="/static/script/search_location.js/"></script>
{% endblock %}

</html>
