<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
    <!-- This is Header Section -->
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="{% static 'images/icon.png' %}" />
        <title>Whishy Fantasy</title>
        <!-- Bootstrap core CSS -->
        <link href="https://getbootstrap.com/docs/4.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" />
        <!-- Custom styles for this template -->
        <link href="https://getbootstrap.com/docs/4.2/examples/dashboard/dashboard.css" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="frontend_style.css"/>
        {% block header_block %}
        {% endblock %}
    </head>

    <!-- This is Body Section -->
    <body>
        {% if user.is_authenticated %}
        <!-- Navigation Bar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark d-flux">
            <div class="container">
                <div class="row col-md-12">
                    <!-- icon+homepage -->
                    <a class="navbar-brand" href="{% url 'app:index' %}">Whisky Fantasy</a>
                    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <!-- right side menu -->
                    <ul class="navbar-nav navbar-collapse"  id="navbarSupportedContent">
                        {% if user.is_authenticated %}
                        <li class="nav-item dropdown ml-auto">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false"  style="text-align: right;">
                                Hi,{{ user }}
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{% url 'app:myaccount' %}">My Account</a>
                                <a class="dropdown-item" href="#">My Transaction</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Log Out</a>
                            </div>
                        </li>
                        {% else %}
                            <li class="nav-item ml-auto"><a class="nav-link" href="#">Login</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
         </nav>
         {% endif %}
        <!-- This is Content Section -->
        {% block body_block %}
        {% endblock %}

        {% block footer_block %}
        {% endblock %}
        <!-- This is JS Section -->
        <script src="{% static "js/facebook.js" %}"></script>
        <script src="{% static "js/app_ajax.js" %}" crossorigin="anonymous"></script>
        <script src="{% static "js/jquery-3.3.1.min.js" %}" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="https://getbootstrap.com/docs/4.2/assets/js/vendor/jquery-slim.min.js"><\/script>')</script><script src="https://getbootstrap.com/docs/4.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-zDnhMsjVZfS3hiP7oCBRmfjkQC4fzxVxFhBx8Hkz2aZX8gEvA/jsP3eXRCvzTofP" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
        <script src="https://getbootstrap.com/docs/4.2/examples/dashboard/dashboard.js"></script>
    </body>

</html>
