<!DOCTYPE html>
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>Whishy Fantasy</title> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    {% block head %}
    {% endblock %}
</head>

<body>

      <!--navbar is fluid by default-->
  <nav class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 border-bottom shadow-sm"
  style="background-color:#000;">
  <!-- icon+homepage -->
  <h5 class="my-0 mr-md-auto font-weight-normal" style="color:#D29062;">
    Whisky Fantasy
</h5>
  <!-- search bar&button-->

  <!-- <form class="form-inline ml-auto" id="" method="post" action="{% url 'app:index' %}">
    {% csrf_token %}
    <input class="form-control" type="text" size="50" name="query" id="query" value="" />
    <button class="btn btn-primary" type="submit" name="submit">Search</button>
  </form> -->


  <a class="p-2 text-white dropdown-toggle" data-toggle="dropdown" href="#">Hello,{{user}}<b
      class="caret"></b></a>
  <ul class="dropdown-menu">
    <li><a class="p-2 text-dark" href="{% url 'app:myaccount'%}">My Account</a></li>
    {% if profile.role == '1' %}
    <li><a class="p-2 text-dark" href="{% url 'app:merchant_transaction'%}">My Transaction</a></li>
    {% endif %} 
    <li><a class="p-2 text-dark" href="{% url 'app:index'%}">Log Out</a></li>
  </ul>
</nav>

    {% block body_block %}
    {% endblock %}

</body>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
{% block footer %}
{% endblock %}

</html>