
{% extends 'app/base_mainPage.html' %}
{% load static %}

  {% block head %}
  <link rel="stylesheet" href="/static/css/productList.css">
  {% endblock %}

  {% block body_block %}
  
  <div class="container mt-5">
    <div class="row no-gutters">
      <div class="btn-group col-md-3">
        <button class="btn btn-md active" aria-pressed="true" type="submit" name="submit">
          <strong>Transactions</strong>
        </button>
      </div>
    </div>
    <table class="table table-bordered table-hover table-responsive-md border-dark">
      <thead class="thead" style="background-color:#FFF2CC">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Date Time</th>
          <th scope="col">Product Name</th>
          <th scope="col">Price</th>
          <th scope="col">Quantity</th>
          <th scope="col">Total Amount</th>
          <th scope="col">Merchant</th>
          <th scope="col">Delivered Address</th>
        </tr>
      </thead>
      <tbody>
      {% for Transaction in transaction %}
      {% if Transaction.trans_status == '1' %}
        <tr>
          <th scope="row">{{Transaction.id}}</th>
          <td>{{Transaction.trans_time}}</td>
          <td>{{Transaction.whisky.whisky_name}}</td>
          <td>{{Transaction.trans_price}}</td>
          <td>{{Transaction.trans_quantity}}</td>
          <td>{{Transaction.trans_amount}}</td>
          <td>{{Transaction.merchant}}</td>
          <td>{{Transaction.trans_address.name}}<br/>{{Transaction.trans_address.addressOne}}<br/>
            {{Transaction.trans_address.addressTwo}}<br/>{{Transaction.trans_address.town_city}}<br/>
            {{Transaction.trans_address.postcode}}<br/>{{Transaction.trans_address.phone}}
          </td>
        </tr>
      {% endif %}
      {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %}
