{% extends 'app/base_mainPage.html' %}

{% block body_block%}

    <body class="bg-light">

        <!-- Main Content -->
        <br />
        <div class="container">
            <h1>Enter Delivery Address</h1>
            <br />
            <form method="post" action=".">
                {% csrf_token %}
                <div class="row form-group">
                    <label for="name" class="col-md-3 col-form-label">*Name:</label>
                    <div class="col-md-9">
                      <input type="text" class="form-control" id="name" name="name" placeholder="Receiver Name" aria-describedby="nameHelp" required/>
                    </div>
                </div>

                <div class="row form-group">
                    <label for="addressLine1" class="col-md-3 col-form-label">*Address Line 1:</label>
                    <div class="col-md-9">
                      <input type="text" class="form-control" id="addressLine1" name="addressOne" placeholder="Flat Unit, Building Name" aria-describedby="addressHelp" required/>
                    </div>
                </div>

                <div class="row form-group">
                    <label for="addressLine2" class="col-md-3 col-form-label">Address Line 2:</label>
                    <div class="col-md-9">
                      <input type="text" class="form-control" id="addressLine2" name="addressTwo" placeholder="Street Name" />
                    </div>
                </div>

                <div class="row form-group">
                    <label for="city" class="col-md-3 col-form-label">*Town / City:</label>
                    <div class="col-md-9">
                      <input type="text" class="form-control" id="city" name="town_city" placeholder="City Name" aria-describedby="cityHelp" required/>
                    </div>
                </div>

                <div class="row form-group">
                    <label for="postcode" class="col-md-3 col-form-label">*Postcode:</label>
                    <div class="col-md-9">
                      <input type="text" class="form-control" id="postcode" name="postcode" placeholder="Postal Code" aria-describedby="postcodeHelp" required/>
                    </div>
                </div>

                <div class="row form-group">
                    <label for="phone" class="col-md-3 col-form-label">*Contact No.:</label>
                    <label class="col-md-1 col-form-label"><strong>+44 (0)</strong></label>
                    <div class="col-md-8">
                      <input type="text" class="form-control" id="phone" name="phone" placeholder="e.g. 123456789" aria-describedby="phoneHelp" required/>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-10"></div>
                    <div class="col-md-1">
                        <button type="submit" class="btn btn-primary float-right">
                            Confirm
                        </button>
                    </div>
                    <div class="col-md-1">
                        <a type="reset" class="btn btn-light float-right" href="{% url 'app:product_details'%}?product_id={{product_id}}">Cancel</a>
                    </div>
                </div>
            </form>
            {{delivery_form.errors}}
        </div>

{% endblock %}
