
{% extends 'app/base_mainPage.html' %}

{% block body_block%}
<body class="bg-light">
   
    <!-- Main Content -->
    <br />
    <div class="container">
        <div class="row">
            <div class="col-md-3" style="height: 400px; width: 400px; border: 1px solid red;">
                <img src="/media/{{product.whisky_img}}/"
                    class="img-fluid mx-auto d-block" />
            </div>
            <div class="col-md-9">
                <h1 class="row col-md-12">{{product.whisky_name}}</h1>
                <br />
                <div class="row col-md-12">
                    Sold by <a href="#" class="pl-5">{{product.merchant}}</a>
                </div>
                <p class="row col-md-12">{{product.whisky_description}}</p>
                <br />
                <div class="row">
                    <p class="col-md-2">Origin:</p>
                    <p class="col-md-10">{{product.whisky_location.location_name}}</p>
                </div>
                <br />

                <form method="POST" action=".">
                    {% csrf_token %}
                    <input type="hidden" name="whisky_id" value="{{product.id}}">
                    <!-- <input type="hidden" name="trans_price" value="{{product.whisky_price}}"> -->
                    <div class="row form-group">
                        <label for="quantity" class="col-md-2 col-form-label">Quantity:</label>
                        <div class="col-md-2">
                            <input type="number" class="form-control" id="quantity" name="trans_quantity" value="1" min="0" max="{{product.whisky_quantity}}"
                                step="1" />
                        </div>
                        <div class="col-md-8">
                            <button type="submit" class="btn btn-primary float-right" >Buy Now</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>

{% endblock %}
