<!DOCTYPE html>
{% extends 'app/base_mainPage.html' %}
{% load static %}
<html lang="en">

<head>
  <!-- meta tages-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Transaction</title>
  {% block head %}
  <link rel="stylesheet" href="/static/css/productList.css">
  {% endblock %}
</head>

<body>
  {% block body_block %}
  
  <div class="container">
    <div class="row no-gutters">
      <div class="btn-group col-md-3">
        <button class="btn btn-switch btn-md active" aria-pressed="true" onclick="location='{% url 'app:product'%}'">
          <strong>Products</strong>
        </button>
        <button class="btn btn-md active" aria-pressed="true" type="submit" name="submit">
          <strong>Transactions</strong>
        </button>
      </div>
      <div class="col-md-9 " style="text-align: right;">
        <button class="btn btn-iso btn-sm active" aria-pressed="true" onclick="location='{% url 'app:add_product'%}'">
          Add Product
        </button>
      </div>
    </div>
    <table class="table table-bordered table-hover table-responsive-md border-dark">
      <thead class="thead" style="background-color:#FFF2CC">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Date Time</th>
          <th scope="col">Product Name</th>
          <th scope="col">Quantity</th>
          <th scope="col">Total Amount</th>
          <th scope="col">Customer ID</th>
          <th scope="col">Delivered Address</th>
        </tr>
      </thead>
      <tbody>
      {% for Transaction in trans_mer %}
        <tr>
          <th scope="row">{{Transaction.id}}</th>
          <td>{{Transaction.trans_time}}</td>
          <td>{{Transaction.whisky.whisky_name}}</td>
          <td>{{Transaction.trans_quantity}}</td>
          <td>{{Transaction.trans_amount}}</td>
          <td>{{Transaction.customer}}</td>
          <td>{{Transaction.trans_address}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %}
</body> 
</html>