{% extends 'app/base_mainPage.html' %}
{% block body_block %}

<body class="bg-light">
    <!-- Main Content -->
    <br />
    <div class="container">
        <h1>Enter Payment Details</h1>
        <br />
        <form method="POST" action=".">
            {% csrf_token %}

            <div class="row form-group">
                <label for="cardName" class="col-md-3 col-form-label">*Name on Card:</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="cardName" name="name_card" placeholder="Name"
                        required />
                </div>
            </div>

            <div class="row form-group">
                <label for="cardNo" class="col-md-3 col-form-label">Card No.: *</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="cardNo" name="cardNo" placeholder="XXXX XXXX XXXX XXXX"
                        required />
                </div>
            </div>

            <div class="row form-group">
                <label for="expiryDate" class="col-md-3 col-form-label">Expiry Date: *</label>
                <div class="col-md-9">
                    <div class="row col-md-12">
                        <input type="text" class="form-control col-md-2" name="expiryMonth" placeholder="MM" required />
                        <label class="col-md-1 col-form-label text-center"> / </label>
                        <input type="text" class="form-control col-md-2" name="expiryYear" placeholder="YYYY"
                            required />
                    </div>
                </div>
            </div>

            <div class="row form-group">
                <label for="cvv" class="col-md-3 col-form-label">CVV: *</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="cvv" name="cvv" placeholder="XXX" required />
                </div>
            </div>

            <div class="row">
                <div class="col-md-10"></div>
                <div class="col-md-1">
                    <button type="submit" class="btn btn-primary float-right" href="" >Pay</button>
                </div>
                <div class="col-md-1">
                    <a type="reset" class="btn btn-light float-right"
                        href="{% url 'app:product_details'%}?product_id={{product.id}}">Cancel</a>
                </div>
            </div>
        </form>
        {{payment_form.errors}}
    </div>

    {% endblock %}