
{% extends 'app/base_mainPage.html' %}

  {% block head %}
  <link rel="stylesheet" href="/static/css/productList.css">
    <!-- add new class tag 'off' to be easily get the clicked button-->
<style>
  .off {}
  .edit{}
</style>
  {% endblock %}

  {% block body_block %}
  <!-- web tabs -->
  <div class="container mt-5">
    <div class="row no-gutters">
      <div class="btn-group col-md-3">
        <button class="btn btn-md active" aria-pressed="true">
          <strong>Products</strong>
        </button>
        <button class="btn btn-switch btn-md active" aria-pressed="true"
          onclick="location='/app/merchant_transaction/'">
          <strong>Transactions</strong>
        </button>
      </div>

      <div class="col-md-9 " style="text-align: right;">
        <button class="btn btn-iso btn-sm active" aria-pressed="true" onclick="location='{% url 'app:add_product'%}'">
          Add Product
        </button>
      </div>
      <!-- product list -->
      <ul class="list-group col-md-12">
        {% for Whisky in product %}

        <li class="list-group-item d-flex justify-content-between lh-condensed" id="{{Whisky.id}}">
          <div class="col-md-3">
            {% if Whisky.whisky_img %}
            <img src="/media/{{Whisky.whisky_img}}" alt="No pictures" style="width: 100px;height: 100px;">
            {% else %}
            <img src="/static/images/product.png" alt="No pictures" style="width: 70px;height: 100px;">
            
            {% endif %}
          </div>
          <div class="col-md-7" >
            <h6 class="my-0">{{Whisky.whisky_name}}</h6>
            <small class="text-muted">{{Whisky.whisky_description}}</small><br>
            <p class="my-0 pt-2">Quantity:{{Whisky.whisky_quantity}}</p>
            <strong>£{{Whisky.whisky_price}}</strong>
          </div>
          <div class="col-md-2 ">
              {% if Whisky.whisky_status == 2 %}
              <p id="flag{{Whisky.id}}">Removed</p>
              {% else %}
              <button class="btn btn-switch btn-md active mb-2" id="edit{{Whisky.id}}" style="width: 100px;"
                onclick="location='{% url 'app:edit_product'%}?product_id={{Whisky.id}}'">Edit</button><br>
              <button class="btn btn-switch btn-md active off" style="width: 100px;" data-id="{{Whisky.id}}" data-status="2">Remove</button>
              <p id="flag{{Whisky.id}}"></p>
              {% endif %}

          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}

{% block footer %}
<!-- JavaScript -->
<script src="/static/script/remove_product.js/"></script>
{% endblock %}
