<!DOCTYPE html>
{% extends 'app/base_mainPage.html' %}
{% load static %}
<html lang="en">

<head>
  <!-- meta tages-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Product</title>
  {% block head %}
  <link rel="stylesheet" href="/static/css/productList.css">
    <!-- add new class tag 'off' to be easily get the clicked button-->
<style>
  .off {}
  .edit{}
</style>
  {% endblock %}
</head>

<body>
  {% block body_block %}
  <!-- web tabs -->
  <div class="container">
    <div class="row no-gutters">
      <div class="btn-group col-md-3">
        <button class="btn btn-md active" aria-pressed="true">
          <strong>Products</strong>
        </button>
        <button class="btn btn-switch btn-md active" aria-pressed="true"
          onclick="location='/app/merchant_transaction/'">
          <strong>Transactions</strong>
        </button>
      </div>
      
      <div class="col-md-9 " style="text-align: right;">
        <button class="btn btn-iso btn-sm active" aria-pressed="true" onclick="location='{% url 'app:add_product'%}'">
          Add Product
        </button>
      </div>
      <!-- product list -->
      <ul class="list-group col-md-12">
        {% for Whisky in product %}

        <li class="list-group-item d-flex justify-content-between lh-condensed" id="{{Whisky.id}}">
          <div class="col-md-3">
            <img src="/media/{{Whisky.whisky_img}}" alt="No pictures" style="width: 100px;height: 100px;">
          </div>
          <div class="col-md-7" style="background-color:">
            <h6 class="my-0">{{Whisky.whisky_name}}</h6>
            <small class="text-muted">{{Whisky.whisky_description}}</small><br><br>
            <strong>£{{Whisky.whisky_price}}</strong>
          </div>
          <div class="col-md-2 ">             
              {% if Whisky.whisky_status == 2 %}
              <p id="flag{{Whisky.id}}">Removed</p>
              {% else %}
              <button class="btn btn-switch btn-md active" id="edit{{Whisky.id}}" style="margin-bottom: 10px;width: 100px;"
                onclick="location='{% url 'app:edit_product'%}?product_id={{Whisky.id}}'">Edit</button><br>
              <button class="btn btn-switch btn-md active off" style="width: 100px;" data-id="{{Whisky.id}}" data-status="2">Remove</button>
              <p id="flag{{Whisky.id}}"></p>
              {% endif %}

          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>

{% endblock %}
</body>
{% block footer %}
<!-- JavaScript -->
<script src="/static/script/remove_product.js/"></script>
{% endblock %}
</html>