{% extends 'app/base.html' %}
{% load static %}

{% block body_block %}

    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 border-bottom shadow-sm"
        style="background-color:#000;">
        <h5 class="my-0 mr-md-auto font-weight-normal" style="color:#D29062;">Whisky Fantasy</h5>
        <a class="p-2 text-white dropdown-toggle" data-toggle="dropdown" href="#">Hello, Melissa<b
                class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a class="p-2 text-dark" href="#">My Account</a></li>
            <li><a class="p-2 text-dark" href="#">My Transaction</a></li>
            <li><a class="p-2 text-dark" href="#">Log Out</a></li>
        </ul>
    </div>

    <div class="container">
        <div class="row ">
            <div class="col-md-5 text-center">
                <h2 style="color: #D29062;">My Account</h2>
                <img src="/Users/huangyushan/PycharmProjects/whisky_fantasy/static/img.jpg" alt="Picture is lost!"
                    class="p-4" style="width: 325px;height: 337px;">

            </div>

            <div class="col-md-7">
                <form class="form-horizontal" role="form" method="post" action=".">

                    <br /><br /><br />
                    <div class="form-group row">
                        <label class="col-sm-2">Username:</label>
                        <label id="username" class="font-weight-bold">Melissa</label>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 " for="id_email" style="padding-top: 5px;">E-mail :</label>
                        <input type="text" name="email" id="id_email" class="col-md-8 form-control"
                            placeholder="email" required>
                    </div>

                    <div class="form-group row" style="padding-top: 10px;">
                        <label class="col-sm-2" for="id_password1">Change Password :</label>
                        <input type="password" name="password" id="id_password1" class="col-md-8 form-control"
                            placeholder="Password" required>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2" for="id_password2">Confirm Password :</label>
                        <input type="password" name="password" id="id_password2" class="col-md-8 form-control"
                            placeholder="Password" required><br />
                    </div>

                    <div class="form-group row">

                        <button class="btn col-sm-2 " type="submit" value="Sublmit"
                            style="background-color: #D29062;color:white;margin-left: 300px;">Save</button>
                        <button class="btn col-sm-2" type="button" value="Cancel"
                            style="border-color: #D29062;color: #d29062;background-color:white;margin-left: 30px;">Cancel</button>

                    </div>

                </form>

            </div>

        </div>

    </div>
{% endblock %}