<!DOCTYPE html>
{% extends 'app/base.html' %}
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>

<body>
    {% block body_block %}
    <!-- head bar -->
    <div class="container" style="width: 600px;">
        <div class="row" style="background-color:black;height: 90px;border-radius: 5px;">
            <h2 class="col-md-12 text-center" style="padding-top: 25px;color:#D29062;">Whisky Fantasy</h2>
        </div>
        <!-- register form -->
        <div class="row" style="background-color:white;">
            <form class="form-signin" role="form" method="post" action="{% url 'app:merchant_register' %}">
                {% csrf_token %}
                <div class="btn-group btn-group-sm" style="width: inherit;">
                    <button type="button" class="btn" onclick="location.href = '{% url 'app:cust_register' %}'"
                        style="border-color: #D29062;color: #d29062;">Customer</button>
                    <button type="button" class="btn" style="background-color: #D29062;color:white;">Merchant</button>
                </div><br /><br />
                <input type="hidden" name="role" value=1>

                <label for="id_email">E-mail :</label>
                <input type="text" name="email" id="id_email" class="form-control" placeholder="email" required
                    autofocus>
                <label for="id_username">Username :</label>
                <input type="text" name="username" id="id_username" class="form-control" placeholder="Username"
                    required>
                <label for="id_password1">Password :</label>
                <input type="password" name="password" id="id_password1" class="form-control" placeholder="Password"
                    required>
                <label for="id_password2">Confirm Password :</label>
                <input type="password" name="password" id="id_password2" class="form-control" placeholder="Password"
                    required><br />
                <button class="btn btn-lg btn-block" id="sign" type="submit" 
                    style="background-color: #818181;color: white;">Sign Up</button>
                {% if not user_form.is_valid %}
                <p style="color:red">{{ user_form.errors }}</p>
                {% endif %}
                {% if registered %}
                <p>Registered successfully! Please login</p>
                {% endif %}
            </form>
        </div>
        <!-- Login link -->
        <div class="row" style="background-color:black;height: 40px;">
            <div class="col-md-12 text-center" style="color: #D29062;padding-top: 5px;">
                Already a Member?
                <a href="{% url 'app:merchant_login' %}">Log In</a>
            </div>
        </div>
    </div>
    <!-- JavaScript -->
    <script src="/static/script/register_validation.js/"></script>

    {% endblock %}
</body>

</html>