{% extends 'app/base.html' %}
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.2/examples/sign-in/signin.css" rel="stylesheet">



</head>

<body style="background-color: #406E8E;">
{% block body_block %}

    <div class="container" style="width: 600px;">
        <div class="row" style="background-color:black;height: 90px;border-radius: 5px;">
            <h2 class="col-md-12 text-center" style="padding-top: 25px;color:#D29062;">Whisky Fantasy</h2>
        </div>


        <div class="row" style="background-color:white;">
            <form class="form-signin" role="form" method="post" action="{% url 'app:cust_register' %}">
                {% csrf_token %}
                <div class="btn-group btn-group-sm" style="width: inherit;">
                    <button type="button" class="btn" style="background-color: #D29062;color:white;">Customer</button>
                    <button type="button" class="btn" onclick="location.href = '{% url 'app:merchant_signup' %}'" style="border-color: #D29062;color: #d29062;">Merchant</button>
                </div><br /><br />
                <input type="hidden" name="role" value=0>

                <label for="id_email">E-mail :</label>
                <input type="text" name="cust_email" id="id_email" class="form-control" placeholder="email" required
                    autofocus>
                <label for="id_username">Username :</label>
                <input type="text" name="username" id="id_username" class="form-control" placeholder="Username"
                    required>
                <label for="id_password1">Password :</label>
                <input type="password" name="password" id="id_password1" class="form-control" placeholder="Password"
                    required>
                <label for="id_password2">Confirm Password :</label>
                <input type="password" name="cust_password_c" id="id_password2" class="form-control" placeholder="Password"
                    required><br />
                <button class="btn btn-lg btn-block" type="submit" value="Sublmit"
                    style="background-color: #818181;color: white;">Sign Up</button>

                {{ user_form.errors }}


            </form>
        </div>
        <div class="row" style="background-color:black;height: 40px;">
            <div class="col-md-12 text-center" style="color: #D29062;padding-top: 5px;">
                Already a Member?
                <a href="{% url 'app:cust_login' %}">Log In</a>
            </div>
        </div>

    </div>

</body>
<script>
    function
</script>

</html>
{% endblock %}
