{% extends 'app/base.html' %}
{% load staticfiles %}

{% block body_block %}
        <!-- Navigation Bar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark d-flux">
            <div class="container">
                <div class="row col-md-12 col-sm-12">
                    <!-- icon+homepage -->
                    <a class="navbar-brand" href="search_by_price.html">Whisky Fantasy</a>
                    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <!-- search bar & button -->
                    <div class="navbar-collapse col-md-9 col-sm-12"  id="navbarSupportedContent">
                        <form class="form-inline ml-auto" id="" method="post" action="{% url 'app:index' %}">
                          <!--{% csrf_token %}-->
                          <input class="form-control" type="text" name="query" id="query" value="" />
                          <button class="btn btn-outline-success" type="submit" name="submit">Search</button>
                        </form>
                    </div>

                    <!-- right side menu -->
                    <ul class="navbar-nav navbar-collapse"  id="navbarSupportedContent">
                        <li class="nav-item dropdown ml-auto">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false"  style="text-align: right;">
                                Hi,{{ user }}
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">My Account</a>
                                <a class="dropdown-item" href="#">My Transaction</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Log Out</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
         </nav>

        <!-- Sort Bar -->
        <div class="container">
            <br />
            <ul class="nav nav-tabs justify-content-end">
                <li class="nav-item disabled">
                    <a class="nav-link disabled">Sort By:</a>
                </li>
                  <li class="nav-item">
                      <a class="nav-link active" href="{% url 'app:search_by_price'%}">Price</a>
                  </li>
                  <li class="nav-item disabled">
                      <a class="nav-link disabled">|</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="search_by_location.html">Location</a>
                  </li>
            </ul>
        </div>

        <!-- Main Content -->
        <br />
        <div class="container bg-white" style="border:1px solid coral;">
            <!-- Product 1 -->
            {% for Whisky in product %}
            <div class="row  col-md-12">
                <div class="col-md-offset-1 col-md-2" style="height: 155px; width: 265px;">
                    <img src="/media/{{Whisky.whisky_img}}"
                        class="img-fluid"/>
                </div>
                <div class="col-md-9 ml-auto">
                    <div class="row">
                        <a href="detail_page.html" class="col-md-12">{{Whisky.whisky_name}}</a>
                    </div>
                    <div class="row">
                        <p class="col-md-12">{{Whisky.whisky_description}}</p>
                    </div>
                    <div class="row">
                        <p class="col-md-12 text-right" style="font-size: 20px; font-weight: bold;">
                            £ {{ Whisky.whisky_price }}
                        </p>
                    </div>
                </div>
            </div>
            <hr class="row"/>
            {% endfor %}
        </div>
{% endblock %}
